<div class="app-container">
  <app-header></app-header>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
  <app-footer></app-footer>
</div>

<div id="logoutConfirmation" class="logout-modal" *ngIf="logoutConfirmation">
  <div class="logout-modal-content">
    <div class="logout-modal-header">
      <h2>Confirm Logout</h2>
    </div>
    <div class="logout-modal-body">
      <p>Are you sure you want to logout?</p>
    </div>
    <div class="logout-modal-footer">
      <button class="btn-cancel"  (click)="cancelLogout()">Cancel</button>
      <button class="btn-confirm" (click)="handleLogout()" >Logout</button>
    </div>
  </div>
</div>

